<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SP Test Host</title>
    
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="LoginOpenIddict">Login with Open Iddict</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
                }
            </ul>
        </div>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2021 - SP Test Host</p>
    </footer>
</div>
    
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>